<div class="body categ-body" data-currency-code="{{currency_selector.active_currency_code}}">
    {{#block "hero"}} {{/block}}
	<div class="express-top-banner">
		<div>
			<img src="https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/express-logo.png"/>
		</div>
		<div>
			<p>
			Got a broken washer and need to do your laundry before the weekend? Is your fridge broken beyond repair and is in dire need to be replaced before all the cakes get spoiled? Well, don’t panic! King’s Great Buys Plus is here and we’ve got your back. All items listed under ‘Delivery Express’ are in-stock and readily available to be delivered upon your purchase, so you don’t have to pre-order. We’ll ship your item right after you check-out. Now that’s better shopping and faster shipping – only at King’s!
			</p>
		</div>
	</div>
    <div class="express-container">
        {{#block "page"}} {{/block}}
    </div>
    {{> components/common/modal}}
    {{> components/common/alert-modal}}
</div>
