<div class="container">

<div class="categROW row">
          <div class="col-lg-3 col-md-3 col-sm-3">
      <div data-aos="zoom-in-down" class="parentcateg1">
        <div class="categtitle">
		<h3 class="categTitle1">COOK & CLEAN WITH EASE</h3>
          </div>

      </div>
    <p class="categBut"><a href="/categ-appliances">Appliances</a></p>

    </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
      <div data-aos="zoom-in-down" class="parentcateg2">
        <div class="categtitle">
		<h3 class="categTitle1">GET A GOOD NIGHT'S SLEEP</h3>
          </div>

      </div>
    <p class="categBut"><a href="/categ-bedding">Mattresses and Bedding</a></p>

    </div>
    <div class="col-lg-3 col-md-3 col-sm-3">
      <div data-aos="zoom-in-down" class="parentcateg3">
        <div class="categtitle">
		<h3 class="categTitle1">STAY ENTERTAINED</h3>
          </div>

      </div>
    <p class="categBut"><a href="/categ-electronics">Electronics</a></p>

    </div>



     <div class="col-lg-3 col-md-3 col-sm-3">
      <div data-aos="zoom-in-down" class="parentcateg4">
        <div class="categtitle">
		<h3 class="categTitle1">RELAX IN YOUR SPACE</h3>
          </div>

      </div>
    <p class="categBut"><a href="/categ-furniture">Furniture</a></p>

    </div>



</div>

</div>

</div>
