
</div>
</div>
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
<div id="parentDiv" class="lbm-row lbm-ehc">
<div id="HomeRow1" class="lbm-row lbm-ehc">

    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12">

        <img src="{{cdn 'img/Appliances.jpg'}}">

      <div class="savedescription">
        <h2 class="ContentTitle">Save Time and Money</h2>
        <p>Appliances featuring the latest technology can make every aspect of your life infinitely easier and even save you a few dollars in the process.</p>
		  <a class="lbm-btn lbm-btn-animate" href="/Appliances">Find New Appliances</a>
      </div>
        </div>


 <div class="col-lg-6 col-md-6 col-sm-12">

        <img src="{{cdn 'img/Mattress.jpg'}}">

      <div class="savedescription">
        <h2 class="ContentTitle">The Sleep of Your Dreams</h2>
        <p>Restless nights are a thing of the past with a brand new mattress that fits your sleep style.</p>
		  <a class="lbm-btn lbm-btn-animate" href="/Bedding">Find Your Best Night's Rest</a>
      </div>
     </div>

    </div>
</div>
</div>
