</div>
<div class="row homeshopThesavings">
    <div class="col-lg-1 col-md-1 col-sm-12">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <H1 class="homeshopsavingsTitle">SHOP THE SAVINGS</H1>
      </div>
      <div data-aos="flip-up" class="col-lg-2 col-md-2 col-sm-12">
	   <a href="clearance-center" class="shopThesavings"> <img class="clearanceCenter" src="{{cdn 'img/homeclearancecenter.png'}}" alt="clearance" data-lem="2,0,2200,500,150,0" style="transform: translate3d(0px, 0px, 0px); opacity: 1; transition: transform 2200ms cubic-bezier(0.23, 1, 0.32, 1) 500ms, opacity;"></a>
		<h3 class="homeshopsavingsTitle">Clearance Center</h3>

      </div>
      <div data-aos="flip-up" class="col-lg-2 col-md-2 col-sm-12">
	   <a href="extreme-values" class="shopThesavings"> <img class="clearanceCenter" src="{{cdn 'img/homeextremevalues.png'}}" alt="extremevalues" data-lem="2,0,2200,1000,150,0" style="transform: translate3d(0px, 0px, 0px); opacity: 1; transition: transform 2200ms cubic-bezier(0.23, 1, 0.32, 1) 1000ms, opacity;"></a>
		<h3 class="homeshopsavingsTitle">Extreme Values</h3>
      </div>
      <div data-aos="flip-up" class="col-lg-2 col-md-2 col-sm-12">
      <a href="current-rebates" class="shopThesavings"> <img class="clearanceCenter" src="{{cdn 'img/homecurrentrebates.png'}}" alt="rebates" data-lem="2,0,2200,1500,150,0" style="transform: translate3d(0px, 0px, 0px); opacity: 1; transition: transform 2200ms cubic-bezier(0.23, 1, 0.32, 1) 1500ms, opacity;"></a>
		<h3 class="homeshopsavingsTitle">Current Rebates</h3>
    </div>
     <div class="col-lg-1 col-md-1 col-sm-12">
    </div>
</div>
