<div class="locationRow row">

  <div class="container">


  <iframe src="https://player.vimeo.com/video/320327484" width="640" height="360" allowfullscreen="allowfullscreen"></iframe>
  </div>

</div>


<div class="ourBrands">

  <h1 class="visitusTitle">OUR BRANDS</h1>
  <p class="visitDescription">King’s Great Buys carry the world’s most popular brands for appliances, electronics, furniture, and mattresses—names that you know and trust.</p>

<div class="brandImage">




  <div data-slick='{"slidesToShow": 6, "slidesToScroll": 3}' class="imageBrand">
    <div><img class="brandsection" src="{{cdn 'img/Bosch.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Electrolux.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/LG.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/NECDisplay.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Samsung.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Sharp.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Sony.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Philips.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Presto.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/T-fal.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Thermador.png'}}" alt=""></div>
    <div><img class="brandsection" src="{{cdn 'img/Toshiba.png'}}" alt=""></div>
</div>

</div>




</div>
<div class="subscriptionRow">

  {{> components/common/subscription-form2}}

</div>
