.facetedSearch.sidebarBlock>.facetedSearch-refineFilters.sidebarBlock>h5,
.facetedSearch-navList>.accordion.accordion--navList>.accordion-block>.accordion-navigation>.accordion-title {
	font-weight: 600;
}

.accordion.accordion--navList>.accordion-block>.accordion-navigation>.accordion-navigation-actions>svg.icon.accordion-indicator.toggleLink-text.toggleLink-text--off {
	fill: #d22229;
}

.accordion.accordion--navList>.accordion-block>.accordion-navigation>.accordion-navigation-actions>svg.icon.accordion-indicator.toggleLink-text.toggleLink-text--on {
	fill: #d22229;
}

.page-content>.category-heading>form.actionBar>.form-fieldset.actionBar-section>.form-field {
	width: 100%;
}

.container.categ-container>h1.page-heading {
	margin-bottom: 1%;
}

.categ-container>.page>.page-content>form.actionBar>.actionBar-section {
	float: right;
}

.accordion--navList .accordion-block {
	margin-top: 5%;
}

.accordion-block {
	border-bottom: 1px solid #ccc;
}

.facetedSearch-refineFilters.sidebarBlock {
	color: #888888;
}

.listItem-details> :last-child {
	margin-bottom: 2%;
}

a.button.button--small {
	color: #ffffff;
	background-color: #d22229;
}

ul.productList>li.product {
	border-bottom: 1px solid #ffffff;
}
//product
.product{
	display:flex;
	justify-content: space-around;
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	@media(max-width:1000px){
		.button--small{
			font-size:10px;
		}	
	}
	@media(max-width:660px){
		.list-action-container{
			padding:1rem;
		}	
	}
	@media(max-width:1161px){
		.price-container-with-now{
			display:block !important;
			.now-responsive{
				display:flex;
				justify-content: center !important;
				flex-direction: inherit !important;
			}
		}
	}


}
.delivery-express{
	width: 100px !important;
	position: absolute !important;
	top: 0 !important;
	right: 0 !important;
	padding: 0 !important;
	margin: 0 !important;
	height: 30px !important;	
}
.grid-view{
	-webkit-transition: all 1.5s ease;
	-moz-transition: all 1.5s ease;
	-o-transition: all 1.5s ease;
	transition: all 1.5s ease;
	// float:left;
	width:39%;
	margin:5% !important;
	border:1px none !important;
	// border-bottom: 1px solid gray !important;
	display:inline-block;
	position:relative;
	margin-top:0 !important;
	.delivery-express{
		height: 45px !important;	

	}
	@media(max-width:450px){
		width:100%;
		margin:6%;
	}
	figure.listItem-figure{
		text-align:center;
	}
	figure.listItem-figure > img{
		padding:0px !important;
		width:auto !important;
		
	}
	.listItem-details{
		width:100%;
		display:block;
		text-align:center;
		padding-left:5.5%;
		padding-right:5.5%;
		.listItem-title{
			width:100%;
		}
	}
	.listItem-actions{
		width:100% !important;
		.list-action-container{
			border:none;
			padding-top:0;
		}
		.price-container-with-now{
			justify-content: space-around;
		}
	}


}

.list-ummary {
	margin-bottom: 2%;
	border-bottom: 1px solid #cccccc;
}

.container.categ-container {
	padding: 0;
}

.left-list-below {
	display: flex;
	align-items: center;
	color: #46da4c;
}

.left-list-below>div:first-child {
	margin-right: 10px;
}

.list-item-below {
	display: flex;
	justify-content: space-between;
	display: none;
}

.accordion--navList .accordion-content {
	padding: 5px;
}

.right-lest-below>div>a {
	color: #299cbd;
	text-decoration: none;
}

figure.listItem-figure>img {
	border: 1px solid #ffffff;
	padding: 38px;
	padding-right: 0;
	width: 240px;
	object-fit: scale-down;
	height: 240px;
}

.listItem-figure-express {
	width: 100%;
	padding: 100px 2% 0 0;
	height: 80vh;
	text-align: right;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.listItem-figure-express>div {
	text-align: left;
	position: absolute;
	top: 50%;
	left: 10%;
	transform: translate(0, -50%);
	width: 40%;
	color: #fff;
}

.listItem-figure-express>div>a {
	background: #e8641a;
	text-decoration: none;
	color: #fff;
	padding: 10px 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.listItem-figure-express>div>h2 {
	color: #fff;
}

.listItem-figure-express>img {
	height: 75vh;
	position: absolute;
	right: 8%;
	bottom: -10%;
}

.deal-match-categ>a {
	color: #279cbd;
	font-weight: 700;
	text-decoration: underline;
}

.deal-match-categ {
	text-align: center;
}

.listItem-details>.cardlogoimage {
	width: 100px;
}

.listItem-actions>div>label>[type=checkbox] {
	height: 15px !important;
	width: 15px !important;
	opacity: 1 !important;
	margin: 0;
	margin-right: 5%;
}

a.list-free-shipping {
	position: absolute;
	background: #0ac212;
	color: #fff;
	padding: 3px 15px 3px 25px;
	text-decoration: none;
	left: 0;
	bottom: 15%;
	font-weight: 600;
}

.listItem-actions>div>label {
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
}

.popover.left {
	background: #2953bd;
	color: #ffffff;
}

.popover.left>.arrow:after {
	border-left-color: #2953bd;
}

a.click-here-deal-match {
	color: #fff;
	font-weight: 600;
}

.breadcrumb {
	display: inline-block;
	float: left;
	background: none;
	padding: 0;
}

.body.categ-body {
    margin-left: 1%;
    margin-right: 1%;
}

.express-seemore {
	text-decoration: none;
	font-size: 24px;
	padding: 10px 20px;
	background: #d12229;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
}

.express-seemore:hover {
	text-decoration: none;
	font-size: 24px;
	padding: 10px 20px;
	background: #d12229;
	border-radius: 5px;
	color: #fff;
	font-weight: 500;
}

.page-sidebar {
	margin-top: 5%;
}

.category-heading {
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.category-heading>.page-heading {
	margin-bottom: 0;
}

#SideCategoryShopByRebateIDs {
	display: none!important;
}

.listItem-price>.price-section.price-section--withoutTax {
	text-align: center;
}

span.price-now-label {
	font-size: 15px!important;
	color: #d22229;
}

.price-section.price-section--withoutTax.non-sale-price--withoutTax {
	color: #d22229;
	font-size: 15px;
}

.express-container .price-section.price-section--withoutTax.non-sale-price--withoutTax>span {
	font-size: 2.5rem !important;
}

span.price.price--saving {
	// background: #0ac212;
	color: #0ac212;;
	font-size: 15px;
	padding: 2px 4px 2px 0px;
}
span.price-was{
	font-size:1rem !important;
	@media(max-width:1202px){
		font-size:0.9rem !important;
	}
}

.listItem-price>.price-section.price-section--saving.price {
	text-align: center;
}

.express-container .listItem-price>.price-section.price-section--withoutTax span {
	font-size: 2.5rem !important;
	font-weight: 700;
	text-decoration: none;
//	display: inline-block;
	width: 47%;
}

.deal-match-categ {
	text-align: center;
	margin-bottom: 1%;
}

img.cardlogoimage {
	// margin-bottom: 2%;
}

.express-container .listItem-price {
	margin: 0 auto 20px auto;
}

.categoryID-300 {
	display: none !important;
}
span.was{
	color:#666666;
}
p.on-stack {
	color: #0ac212;
	font-weight: 600;
	font-size: 15px;
	margin-bottom: 1rem;
}

.productList .product+.product {
	margin-top: 2rem;
}

a.button.button--small {
	font-weight: 600;
	// font-size: 15px;
	padding:13px;
}

.express-container span.price-now-label {
	color: #222 !important;
	font-weight: 700;
	text-align: left;
}

.express-container .price-section.price-section--withoutTax>span.price.price--withoutTax {
	text-align: right;
}

.express-container .price-section.price-section--withoutTax.non-sale-price--withoutTax {
	color: #666;
	font-size: 21px;
	font-weight: 700;
}

.express-container .price-section.price-section--withoutTax.non-sale-price--withoutTax>span {
	color: #666 !important;
	font-size: 2.5rem !important;
	font-weight: 700;
	text-decoration: none;
	display: inline-block;
	width: 47%;
}

.express-container .price.price--non-sale.left {
	text-align: left;
}

.express-container .price.price--non-sale.right {
	text-align: right;
}

.express-container span.price.price--saving {
	color: #666;
	font-size: 2.5rem !important;
	font-weight: 700;
	display: inline-block;
	width: 49%;
	background: none;
}

.express-container span.price.price--saving.left {
	text-align: left;
}

.express-container span.price.price--saving.right {
	text-align: right;
}

.express-container .listItem-price>.price-section.price-section--saving.price {
	text-align: left;
}

.price-section.price-section--withoutTax.rrp-price--withoutTax {
	display: none;
}

#product-listing-container>form.actionBar>.form-fieldset>.form-field {
	width: 100%;
}

.ask-price-special-order {
	color: #222;
	font-weight: 600;
	text-align: center;
	font-size: 18px;
}

#Refrigerators .product {
	display: none
}

#Cooking .product {
	display: none
}

#Dishwashers .product {
	display: none
}

#Electronics .product {
	display: none
}

#Laundry .product {
	display: none
}

#Refrigerators .product.Refrigerators {
	display: block;
	border: none;
}

#Cooking .product.Cooking {
	display: block;
	border: none;
}

#Dishwashers .product.Dishwashers {
	display: block;
	border: none;
}

#Electronics .product.Electronics {
	display: block;
	border: none;
}

#Laundry .product.Laundry {
	display: block;
	border: none;
}

.product.Cooking .listItem-figure-express,
.product.Electronics .listItem-figure-express {
	height: 60vh;
}

.product.Cooking .listItem-figure-express>img,
.product.Electronics .listItem-figure-express>img {
	height: auto !important;
	width: 450px;
	bottom: -10%
}

.express-color {
	margin: 10px 0 0 0;
	font-weight: 700;
}

.express-colors {
	text-decoration: none !important;
	color: #757575;
	cursor: default;
}

.express-colors:hover {
	text-decoration: none;
	color: #757575;
}
