
{{#if settings.data_tag_enabled}}
<article class="listItem" data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}">
{{else}}
<div style="background-image:url(https://cdn11.bigcommerce.com/s-bek4r4rsz5/product_images/uploaded_images/{{lowercase sku}}-express-bg.png)" class="listItem-figure-express">
    
    
    
    {{#if sku '==' 'BUFR2715WH'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Get the Coolest Freezer You Can Ever Imagine with Beko’s 28” White Upright Freezer
		</h2>
		<p>Stock up on healthy food with Beko! Built to handle extreme heat and cold temperatures, this ENERGY STAR® Most Efficient freezer’s Freeze Guard technology ensures no loss of performance even when it is 5°F low or 109°F high outside. Finally, Beko’s Quick Freeze and frost-free technology make its way to this heavy-duty freezer.</p>
	</div>
 
    
    {{else if sku '==' 'GTW720BSNWS'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			GE Appliances is Here to Help You Tackle that Mountain of Muddy Jeans with its 4.8-cu ft. Top-Load Washer
		</h2>
		<p>Release your detergents and fabric conditioners at the right time with this washer’s FlexDispense mode for optimal cleaning. Also, with QuietWash, you can now enjoy a quieter wash and reduced vibration thanks to Dynamic Balancing Technology. Top off your laundry with Deep Rinse, Extra Rinse, and Warm Rinse cycle options.</p>
	</div>
  
    {{else if sku '==' 'WA45T3200AW'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Fit More Laundry in a Single Load with Samsung’s Large 4.5 cu. ft. Capacity Top-Load Washer
		</h2>
		<p>Fewer loads mean less time in the laundry room and more time doing what you love – that’s what Samsung wants you to do. With advanced Self Clean, Vibration Reduction+, Soft-Close Lid, and Smart Care technologies, this top-load washer changes the way you do your laundry for good. And it’s always ready for delivery.</p>
	</div>
   
    
    {{else if sku '==' 'DVE45T3200W'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Experience Powerful, Worry-Free Drying by Samsung’s 7.2 cu. ft. Electric Dryer with Sensor Dry
		</h2>
		<p>Featuring Samsung’s powerful Sensor Dry technology, this high-capacity dryer optimizes the time and temperature of your drying cycle for uncompromised protection of your clothes from heat damage. Its 8 preset drying cycles cover almost every drying need – from Quick Dry for light fabrics to Heavy Duty for jeans and blankets.</p>
	</div>

    {{else if sku '==' 'WDT710PAHZ'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Clean Your Dishes in Half the Time with Whirlpool’s ENERGY STAR® Certified Dishwasher with Sensor Cycle
		</h2>
		<p>Be in control or let your built-in dishwasher pick the right cycle for you. Clean your after-party dishes with the 1-Hour Wash technology. Additional features are Soil Sensor which can detect how dirty your dishes are and adjust the Normal cycle as needed, and the handy Sensor Cycle which gets the right wash settings for each load.</p>
	</div>

    
    {{else if sku '==' 'KDTE334GPS'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Equip Your Kitchen with a Modern, Stainless Steel Built-in Dishwasher by KitchenAid
		</h2>
		<p>The moment you laid your eyes on this 24-inch modern dishwasher, you’ll instantly fall in love with its exceptional features. Inside is a third-level rack that accommodates hard-to-place items. ProWash technology efficiently adjusts cleaning cycles in real-time while its PrintShield finish ensures smudge-free elegance for your kitchen.</p>
	</div>
 
    {{else if sku '==' 'OLED77CXPUA'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Redefine Vision as LG OLED TV Brings You Its Class-Leading 77-inch 4K Smart TV
		</h2>
		<p>Why LG OLED? Because LG uses 8.3 million pixels to show you the most stunning clarity of life-like images right in your living room. With its AI-powered ecosystem, LG delivers smooth motion and over a billion rich colors and infinite contrast. Once you’ve seen this 77-inch OLED TV with your own eyes, you’ll definitely understand.</p>
	</div>
    
     {{else if sku '==' 'OLED48CXPUB'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Get Yourself One of the World’s Most Intelligent TVs Made  Beautifully by LG OLED TV with AI ThinQ®
		</h2>
		<p>Experience immersive visuals with LG’s 48-inch Smart OLED TV. LG ThinQ TVs are designed with built-in Google Assistant and Alexa, with full integration of the voice assistants you already use. Are you into gaming? Plug-and-play with NVIDIA G-SYNC compatibility to take your gaming experience to new heights with LQ OLED TV.</p>
	</div>
    
     {{else if sku '==' 'QN55Q70TAF'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Immerse Yourself in the Most Vivid World Created by Samsung’s QLED 4K Smart TV
		</h2>
		<p>Samsung continues its legacy of creating vivid worlds through its magnificent screens, and this TV brings it even closer to the masses. A smart processor enables you to capture over a billion colors in motion with Samsung’s Quantum Dot pixel arrangement. Its dual LED backlighting technology lets you adjust the color tone freely.</p>
	</div>
    
    {{else if sku '==' 'QN82Q70TAFXZA'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Watch and Play Your Favorite Movies and Games in Immersive Quality with Samsung’s 82” Q70T 4K Smart TV
		</h2>
		<p>Burst through the most intense sequences without any hiccups as Samsung’s powerful visual processor delivers life-like images in stunning quality. Watch your movies in cutting-edge HDR resolution and be immersed with the Q70T’s near-theater 82” diagonal. With Samsung, the picture is so good it seems real.</p>
	</div>
    
     {{else if sku '==' 'DW80R5060US'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			Washing the Dishes Has Never Been this Elegant – Meet StormWash™ by Samsung
		</h2>
		<p>StormWash™ by Samsung is not your ordinary built-in dishwasher. Its powerful rotating spray jets clean your dishes at every angle for tough-to-reach spots. With an operational noise at only 48 dBA, you can now do silent washes for quieter kitchen. At the end of every cycle, StormWash™ automatically opens to circulate air for drying.</p>
	</div>
   
    {{else if sku '==' 'QN65LST7TAF'}}
    <div>
		<a>
		Promo
		</a>
		<h2>
			View the World in Stunning 4K Quality with Samsung’s 65-inch QLED UHD Smart TV with HDR
		</h2>
		<p>Four times the pixel, four times the clarity. Enjoy 4K resolution picture regardless of the source with Samsung’s AI-enabled upscaling. 4K AI automatically analyzes the input source to reduce image noise, restore lost details, and define edges around every object and text. That and over a billion shades of color will take your breath away.</p>
	</div>
    {{/if}}
    
   
	<img  src="{{cdn '/assets/img/express-category/'}}{{sku}}.png"/>
</div>
<article class="listItem-express">
	{{/if}}
    {{#if brand.name}}
	
<!--	<img class="cardlogoimage" src="{{cdn (concat 'img/brands/' (concat brand.name '.jpg'))}}"  />-->
    
               <img class='cardlogoimage {{sku}}' src=''> 
   
                <script>
                   
                        
                    var brandName = "{{brand.name}}";
                    brandNameLogo = brandName.replace(/\s+/g, '-').toLowerCase(); 
                    $("img.{{sku}}").addClass(brandNameLogo);
                    
          
                    $(".{{sku}}").attr("src", "https://store-bek4r4rsz5.mybigcommerce.com/product_images/uploaded_images/" + brandNameLogo + ".jpg" );
                    
                   
                  
                  
                   
                </script>
    
    {{/if}}
	<div class="listItem-body">
		<div class="listItem-content">
			<div class="express-vital-info" style="width:30%">
				<h4 class="listItem-title">
					<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
				</h4>
				{{#if show_rating}}
				<p class="listItem-rating">{{> components/products/ratings rating=rating}}</p>
				{{/if}}
				<p style="color:#757575;margin-bottom:.3rem;"><strong>Model No.: &nbsp;{{sku}}</strong></p>
				<a class="express-colors" href="{{url}}">
					{{#filter custom_fields 'Custom Color' property='name' }}
					<p class="express-color">AVAILABLE COLORS</p>
					{{#eachIndex (split value ',')}}
					<label class="form-option form-option-swatch" onclick="location.href='{{url}}'">
					<span class="form-option-variant form-option-variant--color" style="background-color: {{item}}"></span>
					</label>
					{{/eachIndex}}
					{{else}}{{/filter}}
				</a>
			</div>
			<!--{{#if stock_level '==' '0'}}-->
			<!--{{else}}-->
			<!--<p class="on-stack">In Stock!</p>-->
			<!--{{/if}}-->
			
				
				{{#gt stock_level 10000}}
				{{else}}
            <div class="express-extra-info"  style="width:14%">
                <strong>Info</strong>
				<p class="on-stack">In Stock</p>
				<p class="on-stack" style="color:#ef9421">Limited Quantity</p>
                <p class="on-stack" style="color:#1cb4e3">Ready to ship</p>
            </div>
				{{/gt}}
                
			
			<div class="express-description">
				{{#if summary}}
				<p class="fword"> {{{summary}}} </p>
				{{/if}}
			</div>
			{{#if price.without_tax.formatted '===' '$999,999.00'}}
			<div class="listItem-actions">
				<div style="text-align:center">
					<div class="list-itemExpress ask-price-special-order" style="
    font-size: 2.5rem;
    margin-bottom: 2%;
">ASK FOR PRICE</div>
                    <a class="express-seemore" href="{{url}}"  >SEE MORE DETAILS</a>
<!--
					<div class="deal-match-categ">
						<img src="{{cdn 'assets/img/category/deal.png'}}"> 
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
					</div>
					<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
					</script>
					{{#if show_compare}}
					<label class="button button--small" for="compare-{{id}}">
					<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
					</label>
					{{/if}}
-->
				</div>
			</div>
			{{else}}{{#if stock_level '==' '999999999'}}
			<div class="listItem-actions">
				<div style="text-align:center">
					<div class="list-itemExpress ask-price-special-order" style="
    font-size: 2.5rem;
    margin-bottom: 2%;
">SPECIAL ORDER</div>
                    <a class="express-seemore" href="{{url}}" >SEE MORE DETAILS</a>
<!--
					<div class="deal-match-categ">
						<img src="{{cdn 'assets/img/category/deal.png'}}"> 
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
					</div>
					<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
					</script>
					{{#if show_compare}}
					<label class="button button--small" for="compare-{{id}}">
					<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
					</label>
					{{/if}}
-->
				</div>
			</div>
			{{else}}
			<div class="listItem-actions" >
				<div style="text-align:center">
					{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
					{{#if price}}
					<div class="list-itemExpress listItem-price">{{> components/products/price price=price}}</div>
					{{/if}}
					<a class="express-seemore" href="{{url}}" >SEE MORE DETAILS</a>
					<!--<div class="deal-match-categ">
						<img src="{{cdn 'assets/img/category/deal.png'}}"> 
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
						</div>
						<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
						</script>
						{{#if show_cart_action}}
						{{#if has_options}}
						<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
						{{/if}}
						{{#if pre_order}}
						<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small">{{lang 'products.pre_order'}}</a>
						{{/if}}
						{{#if add_to_cart_url }}
						<a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small">{{lang 'products.add_to_cart'}}</a>
						{{/if}}
						{{#if out_of_stock_message }}
						<a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
						{{/if}}
						{{/if}}
						{{else}}
						{{> components/common/login-for-pricing}}
						{{/or}}
						{{#if show_compare}}
						<label class="button button--small" for="compare-{{id}}">
						<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
						</label>
						{{/if}}-->
				</div>
			</div>
			{{/if}}
			{{/if}}
		</div>
	</div>
</article>
