{{#if settings.data_tag_enabled}}
<article class="listItem" data-event-type="{{event}}" data-entity-id="{{id}}" data-position="{{position}}" data-name="{{name}}" data-product-category="{{#each category}}{{#if @last}}{{this}}{{else}}{{this}}, {{/if}}{{/each}}" data-product-brand="{{brand.name}}" data-product-price="{{#if price.with_tax}}{{price.with_tax.value}}{{else}}{{price.without_tax.value}}{{/if}}">
{{else}}
<article class="listItem">
	{{/if}}
	<figure class="listItem-figure">
		{{> components/common/responsive-img
		image=image
		class="listItem-image"
		fallback_size=theme_settings.productgallery_size
		lazyload=theme_settings.lazyload_mode
		default_image=theme_settings.default_image_product
		}}
		<!--<a class="list-free-shipping">Free Shipping</a>-->
		{{#unless hide_product_quick_view}}
		{{#if theme_settings.show_product_quick_view}}
		<div class="listItem-figureBody">
			<a {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small listItem-button quickview" data-product-id="{{id}}">{{lang 'products.quick_view'}}</a>
		</div>
		{{/if}}
		{{/unless}}
	</figure>
	<div class="listItem-body">
		<div class="listItem-content">
			<div class="listItem-details">
				
                {{#if brand.name}}
	
<!--	<img class="cardlogoimage" src="{{cdn (concat 'img/brands/' (concat brand.name '.jpg'))}}"  />-->
    
               <img class='cardlogoimage {{sku}}' src=''> 
   
                <script>
                   
                        
                    var brandName = "{{brand.name}}";
                    brandNameLogo = brandName.replace(/\s+/g, '-').toLowerCase(); 
                    $("img.{{sku}}").addClass(brandNameLogo);
                    
          
                    $(".{{sku}}").attr("src", "https://store-bek4r4rsz5.mybigcommerce.com/product_images/uploaded_images/" + brandNameLogo + ".jpg" );
                    
                   
                  
                  
                   
                </script>
    
    {{/if}}
                
                
				<h4 class="listItem-title">
					<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}}>{{name}}</a>
				</h4>
				{{#if show_rating}}
				<p class="listItem-rating">{{> components/products/ratings rating=rating}}</p>
				{{/if}}
				<p style="color:#757575;margin-bottom:.3rem;"><strong>Model No.: &nbsp;{{sku}}</strong></p>
                  {{#if summary}}
                    <div class="list-summary">
					<p class="fword">{{{summary}}}</p>
				</div>
                {{/if}}
				         
				<div class="productView-options">
					<div data-product-option-change style="display:none;">
						{{#each options.name}}
						{{{dynamicComponent 'components/products/options'}}}
						{{/each}}
					</div>
				</div>
				<div class="list-item-below">
					<div class="left-list-below">
						<div>
							<img class="" src="{{cdn 'assets/img/category/check.png'}}"> Free In-Store Pickup
						</div>
						<div>
							<img class="" src="{{cdn 'assets/img/category/check.png'}}"> Free Shipping
						</div>
					</div>
					<div class="right-lest-below">
						<div>
							<a class="">Request More Info</a>
						</div>
					</div>
				</div>
			</div>
			{{#if price.without_tax.formatted '===' '$999,999.00'}}
			<div class="listItem-actions">
				<div>
					<a href="{{url}}" style="text-decoration: none;"> <div class="ask-price-special-order">ASK FOR PRICE</div></a>
					<div class="deal-match-categ">
						<!--<img src="{{cdn 'assets/img/category/deal.png'}}"> -->
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
					</div>
					<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
					</script>
					{{#if show_compare}}
					<label class="button button--small" for="compare-{{id}}">
					<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
					</label>
					{{/if}}
				</div>
			</div>
			{{else}}
            {{#gt stock_level 10000}}
			
			<div class="listItem-actions">
				<div>
					{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
					{{#if price}}
					<div class="listItem-price">{{> components/products/price price=price}}</div>
					{{/if}}
					<div class="deal-match-categ">
						<!--<img src="{{cdn 'assets/img/category/deal.png'}}"> -->
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
					</div>
					<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
					</script>
					{{#if show_cart_action}}
					{{#if has_options}}
					<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
                    <p class="outofStock_message">Call Us For Estimated</br> Delivery Date.</p>
					{{/if}}
					{{#if pre_order}}
					<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small">{{lang 'products.pre_order'}}</a>
					{{/if}}
					{{#if add_to_cart_url }}
					<a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small">{{lang 'products.add_to_cart'}}</a>
					{{/if}}
					{{#if out_of_stock_message }}
					<a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
                    <p class="outofStock_message">Call Us For Estimated</br> Delivery Date.</p>
					{{/if}}
					{{/if}}
					{{else}}
					{{> components/common/login-for-pricing}}
					{{/or}}
					{{#if show_compare}}
					<label class="button button--small" for="compare-{{id}}">
					<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
					</label>
					{{/if}}
				</div>
			</div>
		
			{{else}}
			<div class="listItem-actions">
				<div>
					{{#or customer (if theme_settings.restrict_to_login '!==' true)}}
					{{#if price}}
					<div class="listItem-price">{{> components/products/price price=price}}</div>
					{{/if}}
					<div class="deal-match-categ">
						<!--<img src="{{cdn 'assets/img/category/deal.png'}}"> -->
						<a class="" data-toggle="popover" data-placement="left" tabindex="0" data-trigger="focus" data-content="King's Great Buy Plus wants you to avail your desired product without worrying about the price. If you find a lower price advertised by a local retail competitor for a similar brand and model prior to your purchase or up to 30 days after, we will match that deal. <a href='/deal-match/' class='click-here-deal-match'>CLICK HERE</a> for more info">Deal Match Guarantee</a>
					</div>
					<script>
						$(document).ready(function(){
						  $('[data-toggle="popover"]').popover();
						});
						    $("[data-toggle=popover]")
						.popover({html:true})
					</script>
					{{#if show_cart_action}}
					{{#if has_options}}
					<a href="{{url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small" data-product-id="{{id}}">{{lang 'products.choose_options'}}</a>
					{{/if}}
					{{#if pre_order}}
					<a href="{{pre_order_add_to_cart_url}}" data-event-type="product-click" class="button button--small">{{lang 'products.pre_order'}}</a>
					{{/if}}
					{{#if add_to_cart_url }}
					<a href="{{add_to_cart_url}}" {{#if settings.data_tag_enabled}} data-event-type="product-click" {{/if}} class="button button--small">{{lang 'products.add_to_cart'}}</a>
					{{/if}}
					{{#if out_of_stock_message }}
					<a href="{{url}}" data-event-type="product-click" class="button button--small" data-product-id="{{id}}">{{out_of_stock_message}}</a>
<!--                    <p class="outofStock_message">Special Order. Chat for ETA</p>-->
					{{/if}}
					{{/if}}
					{{else}}
					{{> components/common/login-for-pricing}}
					{{/or}}
					{{#if show_compare}}
					<label class="button button--small" for="compare-{{id}}">
					<input type="checkbox" name="products[]" value="{{id}}" id="compare-{{id}}" data-compare-id="{{id}}">{{lang "Add To Compare"}}
					</label>
					{{/if}}
				</div>
			</div>
			{{/gt}}
			{{/if}}
		</div>
	</div>
</article>
