<ul class="productList">
    {{#each products}}
      <li class="product">
        {{>components/products/list-item show_compare=../show_compare show_rating=../settings.show_product_rating theme_settings=../theme_settings customer=../customer event=../event settings=../settings position=(add @index 1)}}
      </li>
    {{/each}}
</ul>

<script>
        $(".fword").each(function() {
             if($(this).html().indexOf('Description') > -1 ){
                $(this).html( $(this).html().split('Description').join('<label class="summary-description"><strong>Description</strong></label><br>'));
            }
        });

</script>

<script src ="https://form.jotform.com/static/feedback2.js" type="text/javascript"></script><script type="text/javascript">
  // let product = '';
  // let model = '';

  // $('.btn-ask').on('click',function(){

  //    product = $(this).attr('product-name');
  //    model = $(this).attr('model');

  

  // });
  // for category jotform 
//remove the attribute and add it again to refresh the element everytime the jotform was close
    $('.btn-ask').on('click',function(){
      $('.btn-ask').removeAttr('requested');
      $(this).attr('requested','');
    });


  //get the value of button and give it to jotform after click before closing the jotform.
  var jotform = new JotformFeedback({
  formId: '201911524199051',
  base: 'https://form.jotform.com/',
  windowTitle: 'Request Quotation',
  background: '#d22229',
  fontColor: '#FFFFFF',
  type: '0',
  iframeParameters:
  {
    'productDetails' : function(){
        return $('[requested]').attr('product_name');
    },
    'Model_No'  : function(){
        return $('[requested]').attr('model');
    }
  },
  height: 600,
  width: 600,
  openOnLoad: false
  });
  
  
</script>
